
body{
    color: #5a5a5a;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: #5a5a5a;
}

#sidebar{
    height: 100%;
}

#sidebar.collapsing{
    height: 0;
}

.canvas .card-header{
    height: 6rem;
}

@media (min-width: 768px) {
  
    #sidebar{
        min-height: calc(100vh - 56px);
        transition: transform 0.5s linear;
        position: fixed;
    }

    
    #sidebar.collapse.show{
        transform: translate(0% , 0);
    }

    #sidebar.collapsing{
        transform: translate(100% , 0);
    }

    #sidebar.collapse{
        transform: translate(100% , 0);
    }
    
}

#sidebar .fa-arrow-down{
    transform: rotate(0deg) scale(0.8);
    transition: 0.5s transform ease-in-out;
}

#sidebar .collapsed .fa-arrow-down{
    transform: rotate(90deg) scale(0.8);
    transition: 0.5s transform ease-in-out;
}

#main{
    transition: 1s all;
}
